<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <br>
            <li class="sidebar-brand">
                <a routerLink="/">
                    <img id="logo" src="./assets/img/pos-logo.png" alt="">
                </a>
            </li>
            <br><br><br><br><br>
            <li>
                <a routerLink="/"><i class="fas fa-home"></i>  Inicio</a>
            </li>
            <li>
                <a routerLink="/products"><i class="fas fa-archive"></i>  Productos</a>
            </li>
            <li>
                <a routerLink="/clients"><i class="fas fa-user"></i>  Clientes</a>
            </li>
            <li>
                <a routerLink="/providers"><i class="fas fa-user-lock"></i>  Proveedores</a>
            </li>
            <li>
                <a routerLink="/sales"><i class="fas fa-shopping-cart"></i>  Ventas</a>
            </li>
            <li>
                <a routerLink="/about"><i class="fas fa-info-circle"></i>  Acerca de Nosotros</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
            
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>









